<div class="inner">
    <header class="major special">
        <h2>{{ .section.title }}</h2>
        {{ partial "markdownify-block" .section.subtitle }}
    </header>
    <div class="spotlights">
        {{ range $entries := .section.home_spotlights }}
            <section>
                {{ if $entries.img_path }}
                    <div class="image"><img src="{{ $entries.img_path | relURL }}" alt="" /></div>
                {{ end }}
                <div class="content">
                    <header class="major">
                        <h3>{{ $entries.title }}</h3>
                    </header>
                    {{ partial "markdownify-block" $entries.text }}
                </div>
            </section>
        {{ end }}
    </div>
</div>
